@import url(reset.css);
@import url(http://fonts.googleapis.com/css?family=Boogaloo);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700);

body {
	background-image: url(../img/vintagefilm2.jpg);
	padding: 50px;
	font-family: 'Open Sans', sans-serif;
}

#wrapper {
	width: 75%;
	background-image: url(../img/ricepaper2.png);
	margin: 0 auto;
	box-shadow: 2px 2px 6px;
}

#logo {
	float: left;
}

header {
	overflow: hidden;
	position: relative;
}

header img {
		vertical-align: top;
}

h1 {
	font-size: 65px;
	font-weight: bold;
	font-family: 'Boogaloo', sans-serif;
	padding-top: 55px;
	padding-bottom: 5px;
}

h2 {
	font-style: italic;
	font-size: 17px;
	padding-right: 15%;
}

#aside {
	position: absolute;
	top: 15%;
	right: 6%;
	text-align: center;
}

#aside p {
	padding-top: 2px;
}

.delivery {
	font-size: 30px;
	font-weight: bold;
	font-family: 'Boogaloo', sans-serif;
	padding-bottom: 5px;
	color: #3E0470;
}

nav ul {
	margin: auto;
	background-color: black;
	padding: 20px;
}

nav li {
	display: inline-block;
	margin-left: 25px;
}

nav a {
	display: inline-block;
	font-size: 140%;
	color: #FFF;
}

nav a:link,
nav a:visited {
	text-decoration: none;
	border-bottom: 2px solid black;
}

nav a:hover {
	border-bottom: 2px solid white;
}

#info {
	margin: 25px;
}

#info p {
	padding: 10px;
	font-size: 130%;
	font-weight: bold;
}

#info-left {
	float: left;
}

#info-right {
	float: right;
}

#info-right a:link,
#info-right a:visited {
	text-decoration: none;
	color: #3E0470;
}

.directions a:link,
.directions a:visited {
	text-decoration: none;
	color: black;
}

#info-right a:hover {
	border-bottom: 2px solid #3E0470;
}

.directions a:hover {
	border-bottom: 2px solid black;
}

#menu {
	padding-bottom: 30px;
}

#menu h2 {
	font-size: 32px;
	font-weight: bold;
	color: red;
	border-bottom: 2px solid black;
	padding-bottom: 3px;
	margin: 25px;
	margin-bottom: 20px;
}

#menu p {
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 10px;
	font-size: 15px;
}

.special {
	font-style: italic;
	margin-top: 20px;
	padding-bottom: 10px;
	font-weight: bold;
	text-align: center;
}

#menu ul {
	padding-left: 25px;
	font-size: 15px;
}

#menu li {
	margin-bottom: 5px;
}

#menu h3 {
	font-size: 20px;
	font-weight: bold;
	color: black;
	margin-top: 20px;
	margin-left: 25px;
	border-bottom: 1px solid black;
	margin-right: 75%;
}

#menu dl {
	padding: 0px;
}

#menu dt {
	padding-left: 25px;
	padding-top: 10px;
	padding-bottom: 3px;
	font-weight: bold;
	font-size: 15px;
}

#menu dd {
	padding-left: 25px;
	padding-bottom: 10px;
	font-size: 15px;
}

#about {
	padding-bottom: 30px;
}

#about h2 {
	font-size: 32px;
	font-weight: bold;
	color: #3E0470;
	border-bottom: 2px solid black;
	padding-bottom: 3px;
	margin: 25px;
	margin-bottom: 20px;
}

#about h3 {
	font-size: 20px;
	font-weight: bold;
	color: black;
	margin-top: 30px;
	margin-left: 25px;
}

#about p {
	margin-right: 25px;
	margin-left: 25px;
	margin-top: 8px;
	font-size: 15px;
}

footer {
	clear: both;
	padding: 20px;
}